.chat {
  display: inline-block;
  background-color: var(--chat-color);
  color: var(--chat-text-color);
  padding: 1rem;
  margin: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-width: 320px;
  overflow-wrap: anywhere;
}

.my-chat {
  background-color: var(--my-chat-color);
}