:root {
  --bg-color: #202329;
  --chat-color: #2E343D;
  --my-chat-color: #6B8AFD;
  --chat-text-color: #fff;

  --icon-color: #A9AEBA;

  --toggle-bg-color: #A9AEBA;
  --toggle-circle-color: #fff;
  --toggle-bg-color-checked: #007BE3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.error {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  color: red;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid red;
}